<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Kontakty | smart_dealer.</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="../static/css/raleway.css" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/custom.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/run_prettify.js"></script>
  <link rel="stylesheet" href="../static/css/github-prettify-theme.css">
  <script src="../static/js/custom.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../static/img/favicon.png">

</head>
<body class="code-snippets-visible">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <section class="header">
      <h2 class="title">smart_dealer.</h2>
    </section>

    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="/contacts">Kontakty</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/offers">Oferty</a></li>
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#productsNavPopover">Produkty</a>
            <div id="productsNavPopover" class="popover">
              <ul class="popover-list">
                <li class="popover-item">
                  <a class="popover-link" href="/products">Wszystkie</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/products/1">Kategoria 1</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/products/2">Kategoria 2</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/products/3">Kategoria 3</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/products/4">Kategoria 4</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/products/5">Kategoria 5</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#transactionsNavPopover">Transakcje</a>
            <div id="transactionsNavPopover" class="popover">
              <ul class="popover-list">
                <li class="popover-item">
                  <a class="popover-link" href="/transactions#pending">Oczekujace</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="/transactions#archive">Archiwum</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="navbar-item"><a class="navbar-link" href="/bank_accounts">Konta bankowe</a></li>
        </ul>
      </div>
    </nav>

    <!-- Tables -->
    <div class="docs-section" id="contacts">
      <h6 class="docs-header">Kontakty</h6>
      <p>Sukces w sprzedaży nie zależy od tych, których ty znasz. Ważne jest, kto chce poznać ciebie.</p>
      <div class="docs-example">
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Imię i nazwisko</th>
              <th>E-mail</th>
              <th>Telefon</th>
              <th>Opis</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dave Gamache</td>
              <td>dave.gamache@example.com</td>
              <td>666-767-825</td>
              <td>San Francisco</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr><td colspan="5"><div class="contact-editor">
              <!-- Contact editor -->
<form>
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Imię</label>
      <input class="u-full-width" placeholder="Jan" id="exampleEmailInput" type="email">
    </div>
    <div class="six columns">
      <label for="exampleEmailInput">Nazwisko</label>
      <input class="u-full-width" placeholder="Kowalski" id="exampleEmailInput" type="email">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">E-mail</label>
      <input class="u-full-width" placeholder="Kowalski" id="exampleEmailInput" type="email">
    </div> 
    <div class="six columns">
      <label for="exampleEmailInput">Telefon</label>
      <input class="u-full-width" placeholder="Kowalski" id="exampleEmailInput" type="email">
    </div>   
  </div>
  <label for="exampleMessage">Detale</label>
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Telefon domowy</label>
      <input class="u-full-width" placeholder="Kowalski" id="exampleEmailInput" type="email">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Czy ma żonę?</label>
      <input class="u-full-width" placeholder="Kowalski" id="exampleEmailInput" type="email">
    </div>   
  </div>
  <label for="exampleMessage">Opis</label>
  <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
  <input class="button-primary" value="Akceptuj" type="submit">
</form>

<!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

<!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->
              </div></td></tr>
            <tr>
              <td>Dwayne Johnson</td>
              <td>dwayne.johnson@example.com</td>
              <td>666-402-131</td>
              <td>Hayward</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr>
              <td>Dave Gamache</td>
              <td>dave.gamache@example.com</td>
              <td>666-767-825</td>
              <td>San Francisco</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr>
              <td>Dwayne Johnson</td>
              <td>dwayne.johnson@example.com</td>
              <td>666-402-131</td>
              <td>Hayward</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr>
              <td>Dave Gamache</td>
              <td>dave.gamache@example.com</td>
              <td>666-767-825</td>
              <td>San Francisco</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr>
              <td>Dwayne Johnson</td>
              <td>dwayne.johnson@example.com</td>
              <td>666-402-131</td>
              <td>Hayward</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr>
              <td>Dave Gamache</td>
              <td>dave.gamache@example.com</td>
              <td>666-767-825</td>
              <td>San Francisco</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr>
              <td>Dwayne Johnson</td>
              <td>dwayne.johnson@example.com</td>
              <td>666-402-131</td>
              <td>Hayward</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <a class="button" href="#">Nowy kontakt</a>
    </div>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
