{{#partial page}}
    <!-- Tables -->
    <div class="docs-section" id="contacts">
      <h6 class="docs-header">Kontakty</h6>
      <p>Sukces w sprzedaży nie zależy od tych, których ty znasz. Ważne jest, kto chce poznać ciebie.</p>
      <div class="docs-example">
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Imię i nazwisko</th>
              <th>E-mail</th>
              <th>Telefon</th>
              <th>Opis</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dave Gamache</td>
              <td>dave.gamache@example.com</td>
              <td>666-767-825</td>
              <td>San Francisco</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr>
              <td colspan="5">
                <div class="account-expanded container">
                  <!-- table for addresses -->
                  <div class="row">
                    <label>Adresy</label>
                  </div>
                  <div class="address-entry row">
                    <div class="two columns">
                      <label>Adres 1</label>
                    </div>
                    <div class="ten columns">
                      <div class="address container">
                        <div class="row">  
                          <div class="seven columns"><div class="u-full-width" style="border-bottom: thin solid #E1E1E1">Żmigrodzka 321</div></div>
                        </div>
                        <div class="row">
                          <div class="seven columns"><div class="u-full-width" style="border-bottom: thin solid #E1E1E1">&nbsp;</div></div>
                        </div>
                        <div class="row">
                          <div class="four columns"><div class="u-full-width" style="border-bottom: thin solid #E1E1E1">Wrocław</div></div>
                          <div class="four columns"><div class="u-full-width" style="border-bottom: thin solid #E1E1E1">dolnośląskie</div></div>
                          <div class="two columns"><div class="u-full-width" style="border-bottom: thin solid #E1E1E1">00-123</div></div>
                        </div>
                        <div class="row">
                          <div class="four columns"><div class="u-full-width" style="border-bottom: thin solid #E1E1E1">Polska</div></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="offset-by-two ten columns">
                        <div id="mapka" class="u-full-width" style="height: 300px; border: 1px solid black; background: gray;">
                        <!-- tu będzie mapa -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="button" href="#">Nowy adres</a>

                  <!-- table for details -->
                  <div class="row">
                    <label>Szczegóły</label>
                  </div>
                  
                  <div class="detail-entry row">
                    <div class="three columns"><div class="u-full-width" style="border-bottom: thin solid #E1E1E1">E-mail (prywatny)</div></div>
                    <div class="six columns"><div class="u-full-width" style="border-bottom: thin solid #E1E1E1">trolololo@example.com</div></div>
                  </div>
                  <div class="detail-entry row">
                    <div class="three columns"><div class="u-full-width" style="border-bottom: thin solid #E1E1E1">E-mail (prywatny)</div></div>
                    <div class="six columns"><div class="u-full-width" style="border-bottom: thin solid #E1E1E1">trolololo@example.com</div></div>
                  </div>

                  <a class="button" href="#">Nowy detal</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>Dwayne Johnson</td>
              <td>dwayne.johnson@example.com</td>
              <td>666-402-131</td>
              <td>Hayward</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr>
              <td>Dave Gamache</td>
              <td>dave.gamache@example.com</td>
              <td>666-767-825</td>
              <td>San Francisco</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr>
              <td>Dwayne Johnson</td>
              <td>dwayne.johnson@example.com</td>
              <td>666-402-131</td>
              <td>Hayward</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr>
              <td>Dave Gamache</td>
              <td>dave.gamache@example.com</td>
              <td>666-767-825</td>
              <td>San Francisco</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr>
              <td>Dwayne Johnson</td>
              <td>dwayne.johnson@example.com</td>
              <td>666-402-131</td>
              <td>Hayward</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr>
              <td>Dave Gamache</td>
              <td>dave.gamache@example.com</td>
              <td>666-767-825</td>
              <td>San Francisco</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
            <tr>
              <td>Dwayne Johnson</td>
              <td>dwayne.johnson@example.com</td>
              <td>666-402-131</td>
              <td>Hayward</td>
              <td class="delete-mark"><div>&#10540;</div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <a class="button" href="#">Nowy kontakt</a>
    </div>
{{/partial}}

{{> layout}}
