{{#partial page}}
<div class="docs-section">
  <h6 class="docs-header">Handlarz bronią? Wstrzel się w rynek!</h6>
  <p>Dzięki tej aplikacji... No dobra, to tylko projekt na studia.</p>
  <p>Kochasz Rusta i chcesz podzielić się tą aplikacją z innymi? To bardzo miłe &lt;3</p>
</div>

<div class="docs-section">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <a class="u-pull-right button" href="/database/init">init database</a>
      </div>
      <div class="one-half column">
        <a class="button" href="/database/populate">populate database</a>
      </div>
    </div>
  </div>
</div>
{{/partial}}

{{> layout}}
